h1[b-578y3cei4x] {
    color: pink;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}
button[b-578y3cei4x]{
    background-color: blue;
}
button:hover[b-578y3cei4x]{
    background-color: black;
}